@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

:root {
    --primary-color: #f5e050;
}

body {
    font-family: 'Kalam', cursive;
    margin: 0;
}


nav {
    background-color: var(--primary-color);
    padding: 0.1px;
}

.nav-brand {
    text-align: center;
    font-size: xx-large;
}

textarea {
    display: block;
    font-family: 'Kalam', cursive;
    width: 60%;
    height: 15vh;
    margin: 2rem auto;
    padding: 1rem;
    font-size: 1.4rem;
}
button {
    display: block;
    background-color: var(--primary-color);
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 1.5rem;
    border: 2px solid orange;
    margin: auto;
}  

footer {
    background-color: var(--primary-color);
    text-align: center;
}

footer p {
    width: 50%;
    text-align: center;
    margin: -1rem auto;
    padding:0rem 2rem 1rem;
    font-size: 1.1rem;
}

@media (max-width: 450px) {
    #txt-input, #txt-output, footer p {
        width: 80%;
    }
}